<div class="wrapper">
    <div class="col-sm-12 mt-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <app-search-box (searchSubmit)="onSearchSubmit($event)"></app-search-box>
                </div>
                <div class="mt-4">
                    <as-tabs (switchTab)="onSwitchTab($event)">
                        <as-tab [for]="'shipments'" [title]="'Shipments'">
                            <div class="card">
                                <div class="row">
                                    <div class="col-sm-1 py-1 px-1">
                                        <div class="filter-toggle">
                                            <ng-toggle (change)="toggle()" [value]="false" [color]="{
                                            unchecked: '#939da2',
                                            checked: '#4680ff'
                                          }"></ng-toggle>
                                        </div>
                                    </div>
                                    <div class="col-sm-11">
                                        <as-pager (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5" [page]="pageIndex" [perPage]="pageSize" [count]="meta.total">
                                        </as-pager>
                                    </div>
                                </div>
                                <as-table class="table-holder" [records]="shipments" [columns]="importKeys"></as-table>
                                <div *ngIf="!show" class="sidebar">
                                    <div class="card">
                                        <h5 class="card-header">Filter</h5>
                                        <h6 (click)="countr()">Country <i class="fa fa-chevron-right"></i></h6>
                                        <div *ngIf="!count">
                                            <ul class="filter-list" *ngFor="let list of filterCountry | keyvalue">
                                                <li *ngFor="let item of list.value">
                                                    <a href="javascript:void(0);">
                                                        <input type="checkbox" [value]="list.countryID" (change)="onChecked($event, item.countryID, list.key)"> {{ item.name }} ({{ item.total }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h6 (click)="hscod()">Hs Code <i class="fa fa-chevron-right"></i></h6>
                                        <div *ngIf="!hsc">
                                            <ul class="filter-list" *ngFor="let list of filterHscode | keyvalue">
                                                <li *ngFor="let item of list.value;">
                                                    <a href="javascript:void(0);">
                                                        <input type="checkbox" [value]="list.hscodeID" (change)="onCheckedhs($event, item.hscodeID, list.key)"> {{ item.name }} ({{ item.total }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h6 (click)="portc()">Port <i class="fa fa-chevron-right"></i></h6>
                                        <div *ngIf="!prt">
                                            <ul class="filter-list" *ngFor="let list of filterPort | keyvalue">
                                                <li *ngFor="let item of list.value;">
                                                    <a href="javascript:void(0);">
                                                        <input type="checkbox" [value]="list.portID" (change)="onCheckedPort($event, item.portID, list.key)"> {{ item.name }} ({{ item.total }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h6 (click)="unitc()">Unit <i class="fa fa-chevron-right"></i></h6>
                                        <div *ngIf="!unt">
                                            <ul class="filter-list" *ngFor="let list of filterUnit | keyvalue">
                                                <li *ngFor="let item of list.value;">
                                                    <a href="javascript:void(0);">
                                                        <input type="checkbox" [value]="list.unitID" (change)="onCheckedUnit($event, item.unitID, list.key)"> {{ item.name }} ({{ item.total }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h6 (click)="exporterc()">Exporter <i class="fa fa-chevron-right"></i></h6>
                                        <div *ngIf="!expt">
                                            <ul class="filter-list" *ngFor="let list of filterExporter | keyvalue">
                                                <li *ngFor="let item of list.value;">
                                                    <a href="javascript:void(0);">
                                                        <input type="checkbox" [value]="list.exporterID" (change)="onCheckedEx($event, item.exporterID, list.key)"> {{ item.name }} ({{ item.total }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h6 (click)="importerc()">Importer <i class="fa fa-chevron-right"></i></h6>
                                        <div *ngIf="!impt">
                                            <ul class="filter-list" *ngFor="let list of filterImporter | keyvalue">
                                                <li *ngFor="let item of list.value;">
                                                    <a href="javascript:void(0);">
                                                        <input type="checkbox" [value]="list.importerID" (change)="onCheckedIm($event, item.importerID, list.key)"> {{ item.name }} ({{ item.total }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div *ngFor="let filter of shipmentFilters | keyvalue;">
                                    <h6 class="filter-title capitalize"><strong> {{ filter.key }}</strong></h6>
                                    <div class="filter">
                                        <ul class="filter-list" *ngFor="let item of filter.value;">
                                            <li class="filter-item">
                                                <a href="javascript:void(0);">
                                                    <input type="checkbox" name="item.name" [value]="item.name" (change)="onChecked($event, item.name, filter.key)">{{ item.name }} ({{ item.total }})</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="item" *ngIf="!preloader">
                                    <ngx-skeleton-loader count="24"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </as-tab>
                        <as-tab [for]="'Dashboard'" [title]="'Dashboard'">
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Country</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="countryScheme" [results]="country" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">

                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Country Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of country;">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Month</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="monthScheme" [results]="month" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Month Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of month">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Importer</h5>
                                        <ngx-charts-bar-vertical [view]="view" [scheme]="importerScheme" [results]="importer" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-bar-vertical>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Importer Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of importer">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
                                        </div>
                                        <h5 class="card-header">Exporter</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="exporterScheme" [animations]="true" [results]="exporter" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Exporter Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of exporter">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Hs Code</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="HsCodeScheme" [results]="hscode" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Hs Code</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of hscode">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Unit</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="UnitScheme" [results]="unit" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Unit Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of unit">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">

                                        <h5 class="card-header">Port</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="PortScheme" [results]="port" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Port Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of port">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Notify</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="PortScheme" [results]="notify" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Notify Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of notify">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </as-tab>
                        <as-tab [for]="'ImporterAnalysis'" [title]="'Importer Analysis'">
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <h5 class="card-header">Importer</h5>
                                        <apx-chart [series]="series" [xaxis]="xaxis" [responsive]="responsive" [tooltip]="tooltip" [legend]="legends" [chart]="chart"></apx-chart>

                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Importer Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of importer">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Country</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="countryScheme" [results]="country" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">

                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Country Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of country">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Month</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="monthScheme" [results]="month" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Month Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of month">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
                                        </div>
                                        <h5 class="card-header">Exporter</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="exporterScheme" [animations]="true" [results]="exporter" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Exporter Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of exporter">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Hs Code</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="HsCodeScheme" [results]="hscode" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Hs Code</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of hscode">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Unit</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="UnitScheme" [results]="unit" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Unit Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of unit">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">

                                        <h5 class="card-header">Port</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="PortScheme" [results]="port" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Port Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of port">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </as-tab>
                        <as-tab [for]="'exporterAnalysis'" [title]="'Exporter Analysis'">
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="card">
                                        <h5 class="card-header">Exporter</h5>
                                        <apx-chart [series]="series" [xaxis]="xaxis" [responsive]="responsive" [tooltip]="tooltip" [legend]="legends" [chart]="charts"></apx-chart>

                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Exporter Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of exporter">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Country</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="countryScheme" [results]="country" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">

                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Country Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of country">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">

                                        <h5 class="card-header">Month</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="monthScheme" [results]="month" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Month Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of month">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
                                        </div>
                                        <h5 class="card-header">Importer</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="exporterScheme" [animations]="true" [results]="importer" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Importer Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of exporter">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Hs Code</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="HsCodeScheme" [results]="hscode" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Hs Code</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of hscode">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <h5 class="card-header">Unit</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="UnitScheme" [results]="unit" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Unit Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of unit">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="card">

                                        <h5 class="card-header">Port</h5>
                                        <ngx-charts-pie-chart [view]="view" [scheme]="PortScheme" [results]="port" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition">
                                        </ngx-charts-pie-chart>
                                        <div class="sm-table">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Port Name</th>
                                                        <th>Weight In Kg</th>
                                                        <th>%</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let list of port">
                                                        <td>{{list.name}}</td>
                                                        <td>{{list.value}}</td>
                                                        <td>{{list.pertotal}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item" *ngIf="loader">
                                            <ngx-skeleton-loader count="15"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </as-tab>
                        <as-tab [for]="'Comparison'" [title]="'Comparison'">
                            <div class="card">Comparison
                                <div class="card-body">
                                </div>
                            </div>
                        </as-tab>
                        <as-tab [for]="'Importer & Exporter Analysis'" [title]="'Importer & Exporter Analysis'">
                            <div class="card">Importer & Exporter Analysis
                                <div class="card-body">
                                </div>
                            </div>
                        </as-tab>
                        <as-tab [for]="'Analysis Report'" [title]="'Analysis Report'">
                            <div class="card">
                                Analysis Report
                                <div class="card-body">
                                </div>
                            </div>
                        </as-tab>
                    </as-tabs>

                </div>
            </div>
        </div>
    </div>
</div>