.wrapper {
    padding: 0px 15px;
    top: 6px;
    position: relative;
    .sidebar {
        background: #ffffff;
        h6 {
            padding: 7px 12px;
            margin-bottom: 0px;
            border-bottom: 1px solid #ececec;
            cursor: pointer;
        }
        i {
            font-size: 10px;
        }
        li a {
            padding-left: 4px;
            color: #000000;
            font-size: 13px;
            text-decoration: none;
        }
    }
}

.sidebar {
    position: absolute;
    top: 38px;
    right: 0px;
    display: block;
    margin: 0 0 30px;
    min-height: 68vh !important;
    max-height: 72vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 0 15px;
    min-width: 270px;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    box-shadow: 0px 2px 4px #cccccc87;
    .card {
        border: 1px soldi #ffffff;
    }
    ul.filter-list {
        padding-left: 0.7rem !important;
    }
    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        position: sticky;
        width: 100%;
        left: 0px;
        top: 0px;
        overflow: hidden;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(120, 130, 140, 0.13);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #5f5d5d;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #585857;
        border-radius: 5px;
    }
}

filter .card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    box-shadow: 0px 2px 4px #cccccc87;
}

button.min,
.button.min {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: inline-block !important;
}

.povit {
    width: 250px;
    position: absolute;
    right: 0px;
    min-height: 300px;
    z-index: 10;
    background-color: #ffffff;
    top: 100px;
    box-shadow: 0px 3px 4px #ccc;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
}

.card {
    margin-bottom: 24px;
}

.sm-table {
    max-height: 90px !important;
    min-height: 200px !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
    thead tr th {
        border: none;
        white-space: unset;
        position: sticky;
        top: 0;
        border-right: 1px solid #ffffff;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(120, 130, 140, 0.13);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #5f5d5d;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #585857;
        border-radius: 5px;
    }
}

.card {
    position: relative !important;
    .item.ng-star-inserted {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: #fff;
        opacity: 1;
    }
}

.filter-toggle {
    position: relative !important;
    top: 2px;
    left: 20px;
}

.ngx-charts-outer .legend-title {
    display: none !important;
}